/.gradle/checksums/checksums.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.idea/modules/bareboneApp.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.gradle/6.7/executionHistory/executionHistory.bin
/.gradle/6.7/fileHashes/fileHashes.bin
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.7/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.gradle/6.7/fileChanges/last-build.bin
/.gradle/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/codeStyles/Project.xml
/.gradle/checksums/sha1-checksums.bin
